.lw { font-size: 60px; }

html{
  height: 100vh;
  background-color:  #1D253D;
  background-image: url("https://zupimages.net/up/20/52/7s7z.png");
  background-repeat: no-repeat;
  background-position: center;
}

MessageText{
  font-size: 30px;
  color: white;
  background: linear-gradient(#2F64D6, #3040BA);
  display: flex;
  border-style: solid;
  border-radius: 30px;
  height: 200px;
  width: 600px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  top: 100px;
}


ennemies{
  margin: 0 auto;
  position: relative;
  height: 600px;
  width: 1255px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

CharaStats{
  display: flex;
}

Death{
  font-size: 25px;
  color: white;
  background: linear-gradient(#E03B24, #E03B86);
  display: flex;
  border-style: solid;
  border-radius: 30px;
  height: 70px;
  width: 275px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  top: 100px;
}






